@custom-variant theme-number-input-light (.theme-number-input-light);
@custom-variant theme-number-input-dark (.theme-number-input-dark);

@layer theme {
    :root {
        --color-number-input-bg: transparent;
        --color-number-input-border: var(--color-base-border-warm-input);
        --color-number-input-focus-border: var(--color-base-ink);
        --color-number-input-text: var(--text);
    }

    .theme-dark {
        --color-number-input-bg: transparent;
        --color-number-input-border: var(--color-base-border-cool-input);
        --color-number-input-focus-border: var(--color-base-white-soft);
        --color-number-input-text: var(--text);
    }

    .theme-number-input-light {
        --color-number-input-bg: transparent;
        --color-number-input-border: var(--color-base-border-warm-input);
        --color-number-input-focus-border: var(--color-base-ink);
        --color-number-input-text: var(--text);
    }

    .theme-number-input-dark {
        --color-number-input-bg: transparent;
        --color-number-input-border: var(--color-base-border-cool-input);
        --color-number-input-focus-border: var(--color-base-white-soft);
        --color-number-input-text: var(--text);
    }
}

@theme inline {
    --color-number-input-bg: var(--color-number-input-bg);
    --color-number-input-border: var(--color-number-input-border);
    --color-number-input-focus-border: var(--color-number-input-focus-border);
    --color-number-input-text: var(--color-number-input-text);
}
